@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "ChunkoBold";
  src: url("/fonts/ChunkoBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
