@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "AlekanBold";
  src: url("/fonts/Alekan-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
